// including all needed resources
@import "varibles.less";
@import "mixins.less";
// common elemnts
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-head {
}
.main-desc {
}
