// including all needed resources
@import "varibles.less";
@import "mixins.less";
@import "../fonts/stylesheet.less";
// common elemnts
.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-head {
  font-family: @sourceSansPro;
  font-size: 20px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: @gray300;
  padding-bottom: 40px;
}
.main-desc-14px {
  font-family: @openSans;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: @gray200;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.main-desc-16px {
  font-family: @openSans;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: @gray200;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
.icon {
  background: @gray200;
  width: 53px;
  height: 53px;
  padding: 10px 0;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s;
  a {
    padding: 10px;
    img {
      width: 29px;
      height: 29px;
    }
  }
}
.btn {
  a {
    text-decoration: none;
    font-family: @openSans;
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: @white;
    padding: 8px 30px;
    border: 1px solid @white;
    border-radius: 18px;
    transition: 0.3s;
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.7);
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  header {
    width: 100%;
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0 80px;
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      .nav {
        display: flex;
        justify-content: space-between;
        .logo {
          text-decoration: none;
          text-transform: uppercase;
          font-family: @openSans;
          font-size: 25px;
          line-height: 12px;
          font-weight: 800;
          color: @white;
          transition: 0.3s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .menu {
          flex-basis: 50%;
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            a {
              text-decoration: none;
              font-family: @openSans;
              font-size: 16px;
              line-height: 12px;
              font-weight: 400;
              color: @white;
              padding: 5px 20px;
              border: 1px solid transparent;
              border-radius: 17px;
              transition: 0.3s;
              &:hover {
                border: 1px solid @white;
              }
            }
          }
        }
      }
      .headerContent {
        max-width: 600px;
        align-self: center;
        padding: 220px 0;
        h1 {
          font-family: @sourceSansPro;
          font-size: 35px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          margin-bottom: 45px;
          color: @white;
        }
        .main-desc-16px {
          color: @white;
        }
      }
      .arrow {
        align-self: center;
        width: 36px;
        height: 36px;
        background: rgba(250, 250, 250, 0.2);
        border-radius: 50%;
        transition: 0.3s;
        a {
          text-decoration: none;
          line-height: 35px;
          svg {
            vertical-align: middle;
          }
        }
        &:hover {
          background: @green200;
        }
      }
    }
  }

// ABOUT US
  .aboutUs {
    background: @white;
    padding: 80px 0 60px;
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .aboutUsContent {
        flex-basis: 500px;
        padding: 30px 10px 30px 50px;
        .btn {
          padding: 40px 0;
          a {
            color: @gray300;
            border: 1px solid @gray300;
            &:hover {
              background: @green200;
              border: none;
              color: @white;
            }
          }
        }
      }
      .ipad {
       flex-basis: 400px;
        img {
          height: 100%;
          width: auto;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

// DETAILS
  .details {
    background: @gray;
    padding: 80px 0 100px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .details-main-desc {
        max-width: 450px;
        text-align: center;
      }
      .iconsBlock {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        .icon {
          margin: 0px 15px;
          &:hover {
            background: @green200;
          }
        }
      }
      h3 {
        font-family: @openSans;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: @gray250;
        margin-bottom: 30px;
        align-self: flex-start;
        padding-left: 50px;
      }
      .creativeIdeasContent {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        .main-desc-16px {
          flex-basis: 330px;
          padding: 10px;
          span {
            font-weight: 700;
            &:nth-child(1) {
              color: @green200;
            }
            &:nth-child(2) {
              color: @gray350;
            }
          }
        }
        .main-desc-14px {
          flex-basis: 520px;
          padding: 10px;
          margin: 0 auto;
          span {
            font-weight: 700;
            &:nth-child(1),
            &:nth-child(3) {
              color: @gray350;
            }
            &:nth-child(2) {
              color: @green200;
            }
          }
        }
      }
    }
  }

// PROJECTS
  .projects {
    background: @white;
    .container {
      padding: 80px 0 60px;
      text-align: center;
      .main-desc-14px {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .projectsImages {
      width: 100%;
      display: flex;
      overflow: hidden;
      .imgBlock {
        flex-grow: 1;
        position: relative;
        transition: 0.5s;
        .vintage {
          background: url(../img/projects/project_2_1.jpg) no-repeat;
          background-size: cover;
          background-position: center;
          padding: 150px 0;
        }
        .branding {
          background: url(../img/projects/project_3_1.jpg) no-repeat;
          background-size: cover;
          background-position: center;
          padding: 150px 0;
        }
        &::after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.7);
          transition: 1s;
        }
        .title {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Source Sans Pro";
          font-size: 20px;
          line-height: 12px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          color: @white;
          z-index: 9;
          transition: 1s;
        }
        &:hover::after,
        &:hover .title {
          font-size: 0;
          opacity: 0;
        }
        &:hover {
          flex-grow: 1.5;
        }
      }
    }
    .projectsFooter {
      width: 100%;
      background: url(../img/bg_submit_now.jpg) no-repeat;
      background-size: cover;
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        p {
          font-family: "Open Sans";
          font-size: 20px;
          line-height: 25px;
          font-weight: 400;
          letter-spacing: 0.04em;
          color: @white;
          padding: 30px;
          span {
            font-weight: 700;
          }
        }
        .btn {
          align-self: center;
          margin: 0 auto;
        }
      }
    }
  }

// OUR SERVICES
  .ourServices {
    background: @gray;
    padding: 80px 0 140px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .ourServices-desc {
        max-width: 450px;
        text-align: center;
        margin-bottom: 60px;
        }
      .servicesContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 30px;
        width: 100%;
        // padding: 0; media
        .servicesList {
          flex-basis: 500px;
          display: flex;
          justify-content: space-between;
          // order: 2; media
          .servicesIcons {
            flex-basis: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            .icon {
              margin: 0px 20px 20px;
              &:nth-child(1) {
                background: @green200;
              }
            }
          }
          .serviceListContent {
            flex-basis: 400px;
            position: relative;
            .serviceElement {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              opacity: 0;
              transition: 0.3s;
              pointer-events: none;
              &:nth-child(1) {
                opacity: 1;
              }
              h3 {
                font-family: @openSans;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.04em;
                color: @gray250;
                margin-bottom: 30px;
              }
              .main-desc-16px {
                padding-bottom: 35px;
                span {
                  font-weight: 700;
                  &:nth-child(1) {
                    color: @green200;
                  }
                  &:nth-child(2) {
                    color: @gray350;
                  }
                }
              }
              .main-desc-14px {
                span {
                  color: @green200;
                  font-weight: 700;
                }
              }
            }
          }
        }
        .servicesChart {
          flex-basis: 500px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          // order: 1; media
          // padding-bottom: 50px;
          .chartElement {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;
            .percent {
              font-family: @openSans;
              font-size: 25px;
              line-height: 110px;
              font-weight: 400;
              letter-spacing: 0.05em;
              color: @gray200;
              width: 117px;
              height: 117px;
              border: 1px solid @gray200;
              border-radius: 50%;
              margin-bottom: 25px;
              span {
                font-size: 14px;
              }
            }
            .title {
              font-family: @robotoLight;
              font-size: 16px;
              line-height: 25px;
              font-weight: 300;
              letter-spacing: 0.05em;
              color: @gray200;
            }
            .ellipse {
              position: absolute;
              top: -2px;
              left: -2px;
              width: 120px;
              img {
                animation: moveEllipse 5s ease-in-out infinite;
                @keyframes moveEllipse {
                  40% {
                    transform: rotate(360deg);
                  }
                  100% {
                    transform: rotate(360deg);
                  }
                }
              }
              .startSecond {
                animation-delay: 1s;
              }
              .startThird {
                animation-delay: 2s;
              }
            }
          }
        }
      }  
    }
  }
  
  // IMPRESSED
  .impressed {
    width: 100%;
    background: url(../img/bg_Impresed.png) no-repeat;
    background-size: cover;
    background-position: center;
    .container {
      display: flex;
      justify-content: space-between;
      position: relative;
      .impressedContent {
        flex-basis: 600px;
        padding: 80px 0 100px;
        .main-head {
          color: @gray;
        }
        .main-desc-14px {
          color: @gray100;
          text-transform: uppercase;
          &:nth-child(2) {
            font-weight: 700;
          }
          span {
            color: @green200;
          }
        }
        .main-desc-16px {
          color: @gray100;
          margin-bottom: 35px;
        }
      }
      .impressedImg {
        flex-basis: 400px;
        position: absolute;
        top: -40px;
        right: 0;
        img {
          position: relative;
          width: 100%;
          height: auto;
        }
        .logo {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0.8;
          font-family: @openSans;
          font-size: 30px;
          line-height: 24px;
          font-weight: 800;
          text-transform: uppercase;
          color: @white;
          span {
            opacity: 0;
            &:nth-child(2) {
              color: @green200;
              animation-delay: 0.3s;
            }
            &:nth-child(3) {
              animation-delay: 0.6s;
            }
            &:nth-child(4) {
              animation-delay: 0.9s;
            }
            &:nth-child(5) {
              animation-delay: 1.2s;
            }
            &:nth-child(6) {
              animation-delay: 1.5s;
            }
            animation: logo 2s linear forwards;

            @keyframes logo {
              100% {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  // PORTFOLIO
  .portfolio {
    background: @gray;
    padding: 80px 0 100px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .main-desc-14px {
        max-width: 450px;
        text-align: center;
        margin-bottom: 80px;
      }
      .filter {
        margin-bottom: 70px;
        button {
          position: relative;
          border: none;
          background: transparent;
          font-family: @openSans;
          font-size: 16px;
          line-height: 12px;
          font-weight: 400;
          color: @gray250;
          margin: 0 20px;
          &::after {
            content: " ";
            border-bottom: 2px solid transparent;
            border-radius: 4px;
            width: 50%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 25px);
            transition: 0.3s;
          }
          &:hover:after {
            border-bottom: 2px solid @green200;
          }
        }
      }
      .allWorks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        overflow: hidden;
        .portfolioImg {
          width: 24%;
          margin-bottom: 10px;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          &::after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            transition: 0.3s;
          }
          &:hover::after {
            background: rgba(0, 0, 0, 0.7);
          }
          &:hover {
            .onHover {
              opacity: 1;
            }
            h3::after {
              animation: lineMove 2s linear;
            }
          }
          .onHover {
            position: absolute;
            top: 60%;
            left: 0%;
            transform: translate(0%, -50%);
            padding: 0 40px;
            z-index: 9;
            opacity: 0;
            transition: 0.3s;
            h3 {
              font-family: @sourceSansPro;
              font-size: 20px;
              line-height: 12px;
              font-weight: 300;
              letter-spacing: 0.2em;
              color: @green200;
              margin-bottom: 50px;
              position: relative;
              transform: translate(0px, 0px);
              &::after {
                content: " ";
                border-bottom: 1px solid @green200;
                width: 25px;
                position: absolute;
                top: 30px;
                left: 0;
                @keyframes lineMove {
                  0% {
                    transform: translate(0px, 0px);
                  }
                  50% {
                    transform: translate(140px, 0px);
                  }
                  100% {
                    transform: translate(0px, 0px);
                  }
                }
              }
            }
            p {
              font-family: @openSans;
              font-size: 12px;
              line-height: 20px;
              font-weight: 400;
              letter-spacing: 0.05em;
              color: @gray100;
              margin-bottom: 60px;
            }
          }
        }
      }
      .footerPortfolio {
        width: 100%;
        background: url(../img/bg_start_Project.jpg) no-repeat;
        background-size: cover;
        padding: 55px 0;
        text-align: center;
        p {
          font-family: @openSans;
          font-size: 20px;
          line-height: 25px;
          font-weight: 400;
          letter-spacing: 0.04em;
          color: @white;
          margin-bottom: 30px;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }

  // TEAM
  .team {
    background: @white;
    padding-top: 80px;
    .container {
      text-align: center;
      .team-desc {
        max-width: 450px;
        margin: 0 auto;
      }
      .sliderWrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        .personalSlide {
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 60px 40px;
          display: none;
          img {
            max-width: 300px;
            height: auto;
            // width: auto;
            // height: 100%;
          }
          .aboutPerson {
            flex-basis: 450px;
            padding: 20px 40px 0px;
            text-align: right;
            h3 {
              font-family: @openSans;
              font-size: 20px;
              line-height: 40px;
              font-weight: 400;
              letter-spacing: 0.04em;
              color: @gray250;
              position: relative;
              &::after {
                content: " ";
                border-right: 4px solid @green200;
                height: 42px;
                position: absolute;
                top: 15px;
                right: -40px;
              }
            }
            .position {
              font-family: @sourceSansPro;
              font-size: 14px;
              line-height: 25px;
              font-weight: 300;
              font-style: italic;
              text-transform: uppercase;
              letter-spacing: 0.1em;
              color: @gray200;
              margin-bottom: 20px;
            }
            .skilsWrapper {
              width: 80%;
              margin-left: 20%;
              padding-top: 30px;
              .skill {
                display: flex;
                justify-content: space-between;
                font-family: @sourceSansPro;
                font-size: 16px;
                line-height: 25px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: @gray200;
                margin-bottom: 35px;
                position: relative;
                &::before {
                  content: " ";
                  border-bottom: 4px solid @gray50;
                  width: 100%;
                  position: absolute;
                  top: 100%;
                  left: 0px;
                }
                &::after {
                  content: " ";
                  border-bottom: 4px solid @green200;
                  position: absolute;
                  top: 100%;
                  left: 0px;
                }
                &:nth-child(1):after {
                  width: 80%;
                }
                &:nth-child(2):after {
                  width: 65%;
                }
                &:nth-child(3):after {
                  width: 70%;
                }
              }
            }
          }
        }
      }
      .sliderNavigation {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        .point {
          border: 1px solid @green200;
          border-radius: 50%;
          padding: 4px;
          margin: 0 5px;
        }
      }
    }
    .footerTeam {
      width: 100%;
      background: url(../img/bg_contactUs.jpg) no-repeat;
      background-size: cover;
      padding: 60px 0;
      text-align: center;
      p {
        font-family: @openSans;
        font-size: 20px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: @white;
        margin-bottom: 30px;
      }
    }
  }
}

