// including all needed resources
@import "varibles.less";
@import "mixins.less";
@import "../fonts/stylesheet.less";
* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
// common elemnts
.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-head {
}
.main-desc {
}
.form-wraper {
  padding: 80px 0 130px;
  background-color: @white;
  .inp-wraper {
    margin: 0 auto;
    max-width: 940px;
    display: block;
    input,
    textarea {
      border: 1px solid @gray;
      padding: 15px 20px;
      font-family: @openSans;
      font-size: 14px;
      color: @gray150;
      &::placeholder {
        font-family: @openSans;
        font-size: 14px;
        color: @gray150;
      }
    }
    textarea {
      width: 100%;
      resize: none;
      margin-bottom: 30px;
    }
    input[type="submit"] {
      width: 100%;
      background-color: @green200;
      padding: 20px 10px;
      font-family: @openSans;
      font-size: 16px;
      color: @white;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
    }

    .wraper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
        width: 30%;
        margin-bottom: 30px;
      }
    }
  }
}
footer {
  padding: 80px 0 88px;
  background-color: @gray;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      font-family: @bigJohn;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: #323a45;
      margin-bottom: 25px;
    }
    .copyr-desc {
      font-family: @openSans;
      font-size: 14px;
      color: @gray200;
      margin-bottom: 35px;
    }
    .social-wraper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 190px;
      li {
        width: 25px;
        height: 25px;
        padding: 5px;
        margin: 0 5px;

        border-radius: 50%;
        img {
          width: 14px;
          height: 14px;
        }
      }
      .fb {
        background-color: @fb;
      }
      .tw {
        background-color: @tw;
      }
      .in {
        background-color: @in;
      }
      .insta {
        background-color: @insta;
      }
      .vm {
        background-color: @vm;
      }
    }
  }
}
