// colors
@white: #fff;
@white10: #e1e4e9;
@gray: #f3f3f3;
@gray10: #e7e7e7;
@gray50: #cfd3d4;
@gray100: #b2b3b3;
@gray150: #a9a9a9;
@gray200: #81868e;
@gray250: #464646;
@gray300: #333b46;
@green200: #19bd9a;
@green250: #1fbba6;
// icons bg
@fb: #3b5998;
@tw: #26a6d1;
@in: #0e76a8;
@insta: #618bad;
@vm: #86c9ef;
// fonts

@openSans: "Open Sans", sans-serif;
@bigJohn: "Big John", sans-serif;
@robotoLight: "Roboto", sans-serif;
@sourceSansPro: "Source Sans Pro", sans-serif;
